<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" thread-count="2" parallel="false">
<parameter name="baseUrl" value="https://qa.koel.app/"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="com.qa.koel.Homework20">
                <methods>
                    <include name="deletePlaylist"></include>
                </methods>
            </class>
<!--            <class name="com.qa.koel.Homework19">-->
            <class name="com.qa.koel.Homework21"></class>
<!--            <class name="Homework20">-->
<!--                <methods>-->
<!--                    <include name="deletePlaylist"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Homework19">-->
<!--                <methods>-->
<!--                    <include name="deletePlaylist"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.qa.koel.Homework18"/>-->
<!--            <class name="com.qa.koel.Homework17"/>-->
<!--            <class name="com.qa.koel.LoginTests"/>-->
<!--            <class name="com.qa.koel.BaseTest"/>-->
        </classes>
    </test>
</suite>