<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" thread-count="2" parallel="true">
<parameter name="baseUrl" value="https://qa.koel.app/"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="com.qa.koel.CucumberRunner"></class>
<!--            <class name="com.qa.koel.testng.LoginTest"/>-->
<!--            <class name="com.qa.koel.testng.BaseTest"/>-->
<!--            <class name="com.qa.koel.testng.UserProfileTest">-->
<!--                <methods>-->
<!--                    <include name="changeUserProfileTheme"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.qa.koel.testng.PlayListTest"></class>-->
        </classes>
    </test>
</suite>